@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Retro Gaming';
	src: url('/fonts/retro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
